{% extends "layout.html" %}
{% block content %}

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="page-header">
               <h1>Twitter Word Cloud and Sentiment Analysis</h1>
               <p style="font-size: 24px; margin-top: 20px;">あなたの最新のツイート100件を取得して感情分析を行い，ワードクラウドを作ります！</p>
    
                {% if timeline == False %}
                    <p style="margin-top: 30px;"><a href="{{ url_for('twitter_auth') }}" class="under-distance btn btn-lg btn-default">連携アプリ認証</a></p>
                {% else %}
                    <a style="margin-top: 50px;" href="{{ url_for('/', user_id = timeline[0].user.screen_name) }}" class="under-distance btn btn-lg btn-default">ワードクラウドを見る</a>
                {% endif %}
            </div>

        </div>

    </div>

</div>

{% endblock %}
